{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <a href="{{ path('app_sentence_index') }}" class="btn btn-primary btn-lg mt-4">VOIR TOUTES LES PHRASES</a>
{% endblock %}
